body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ddbeec, #9eb5ee, #547f53e2, hsla(192, 76%, 61%, 0.936));
    background-size: 400% 400%;
    animation: gradientAnimation 5s
     ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
 
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-box {
    background-color: rgb(174, 27, 27);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  